[Unit]
Description="TVM Jenkins Service"
After=docker.service
BindsTo=docker.service
ReloadPropagatedFrom=docker.service

[Service]
TimeoutStartSec=0
ExecStart=/usr/bin/docker run --rm --name %N \
                              -p 8080:8080 -p 50000:50000 --mount type=bind,source=/var/jenkins/keys,target=/key \
                              --mount type=bind,source=/var/jenkins/casc,target=/var/jenkins_home/casc \
                              --network=jenkins \
                              --mount type=bind,source=/var/jenkins/home,target=/var/jenkins_home \
                              --mount type=bind,source=/var/jenkins/persistent_data/jobs,target=/var/jenkins_home/jobs \
                              --mount type=bind,source=/var/jenkins/persistent_data/userContent,target=/var/jenkins_home/userContent \
                              --env-file /var/jenkins/.env registry.hub.docker.com/{{ lookup('env', 'DOCKERHUB_USERNAME') }}/jenkins:{{ lookup('env', 'GITHUB_SHA') }} \

ExecStop=docker stop -t 2 %N
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=default.target
